services:
  app:
    build:
      context: .
      args:
        - NODE_ENV=production
        - SOUNDCLOUD_CLIENT_ID=${SOUNDCLOUD_CLIENT_ID}
        - SOUNDCLOUD_CLIENT_SECRET=${SOUNDCLOUD_CLIENT_SECRET}
    ports:
      - "8087:8087"
    environment:
      - NODE_ENV=production
      - SOUNDCLOUD_CLIENT_ID=${SOUNDCLOUD_CLIENT_ID}
      - SOUNDCLOUD_CLIENT_SECRET=${SOUNDCLOUD_CLIENT_SECRET} 